*{
    font-size: 100%;
    font-family: "Titillium Web";
}

html{
    margin-left: 1%;
}

.c_map{
    width:680px;
    border-style: solid;
    border-width: 2px;
}

.feature{
    fill:#005daa;
    stroke:#fff;
}